<%- include('./header.ejs') %>
<section>
      <div class="content">
        <h2>About Us</h2>
        <p style="text-align: center">
          SpeakUp adalah forum yang memungkinkan pengguna untuk menulis dan membaca, dengan lebih dari 5 tahun kebijaksanaan. SpeakUp adalah Profesional yang sangat termotivasi yang telah diakui karena dukungannya yang tidak kondisisional
          untuk melayani pengguna forum
        </p>

        <ul class="icons">
          <li>
            <i class="fa fa-twitter"></i>
          </li>
          <li>
            <i class="fa fa-facebook"></i>
          </li>
          <li>
            <i class="fa fa-github"></i>
          </li>
          <li>
            <i class="fa fa-pinterest"></i>
          </li>
        </ul>
        <a href="/contact"><button type="button">Contact Us</button> </a>
      </div>
    </section>
    <br /><br />
  