<%- include('./header.ejs') %>
    <!-- Contact -->
      <div class="contact">
      <br></br>
        <h1>Contact Us</h1>
        <div class="border"></div>
        <form class="contact-form" id="contact">
          <input id="name" type="text" class="contact-form-text" placeholder="Name">
          <input id="email" type="email" class="contact-form-text" placeholder="Email">
          <input id="phone" type="text" class="contact-form-text" placeholder="Phone Number">
          <textarea id="message" class="contact-form-text" placeholder="Message..."></textarea>
          <button type="button"  id="postContact" class="contact-form-btn">Send message</button>
        </form>
    <br /><br />
