    <!-- Footer -->
    <div class="footer">
        <div class="copy">Copyright <img src="/img/copyright.png" alt="" /> 2021 Speak Up | All rights reserved</div>
      </div>
  
    </body>
  </html>
  