<%- include('./header.ejs') %>
    <!-- Login-->
    <div class="login-form">
      <h1>Login</h1>
      <form id="LoginForm" class="input-data">
        <input type="text" id="email" class="input-field" placeholder="Email Address" required />
        <input type="password" id="password" class="input-field" placeholder="Enter Password" required />
        <div>
          <button id="login" type="button" class="submit-btn">Log In</button>
        </div>
        <div class="signup_link">Not a member?<a href="/register"> Register</a></div>
        <div class="login-footer">
          <div class="login-copy">Copyright <img src="/img/copyright-16.png" alt="" /> 2021 Speak Up |All rights reserved</div>
        </div>
      </form>
    </div>

  </body>
</html>
