<%- include('./header.ejs') %>
    <!-- Register -->
    <div class="register-form">
      <h1>Register</h1>
      <form id="RegisterForm" class="input-data">
        <input type="text" id="email" class="input-field" placeholder="Email Address" required />
        <input type="password" id="password1" class="input-field" placeholder="Enter Password" required />
        <input type="password" id="password2" class="input-field" placeholder="Confirm Password" required />
        <div>
          <button id="register" type="button" class="submit-btn">Create Account</button>
        </div>
        <div class="login_link">Already have an account?<a href="/login">Login</a></div>
        <div class="register-footer">
          <div class="register-copy">Copyright <img src="/img/copyright-16.png" alt="" /> 2021 Speak Up | All rights reserved</div>
        </div>
      </form>
    </div>

  </body>
</html>
