/* global */
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-size: 14px;
  font-family: 'Titillium Web', sans-serif;
  background-color: #c7c2fc;
  color: #5e31fd;
}

a {
  font-weight: bolder;
  color: #5e31fd;
  text-decoration: none;
}

h1 {
  color: lightblue;
  font-size: 28px;
  font-weight: bolder;
}

/* navbar */
.navbar {
  overflow: hidden;
  background-color: #4941bf;
  position: fixed;
  top: 0;
  width: 100%;
}

.navbar a {
  float: left;
  display: block;
  color: lightblue;
  text-align: center;
  padding: 13px 52px;
  text-decoration: none;
  font-size: 17px;
}

.navbar a:hover {
  background: #dcf2fa;
  color: #4941bf;
}

/* contain */

.container {
  margin: 20px;
  padding: 20px;
}

.subforum {
  margin-top: 20px;
}

.subforum-title {
  background-color: #7d73ff;
  padding: 2px 4px;
  border-radius: 5px;
  margin: 2px;
  font-size: 20px;
}

.subforum-row {
  margin-top: 10px;
  background-color: #aacdf0;
  border-radius: 10px;
  display: grid;
  grid-template-columns: 7% 60% 13% 20%;
}

.subforum-column {
  padding: 10px;
  margin: 4px 2px;
  border-radius: 5px;
  background-color: #dcf2fa;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.subforum-info {
  font-size: 12px;
}
